{% extends "layout.html" %}
{% block body %}
    <h1 class="intro">Let's see how the transformed image works!</h1>
    <div class="preview">
        <br>
        <br>
        <h2 class="head">How can I change my image?</h2>
        <h3 class="head">You will follow 3 steps below:</h3>
        <h4 class="head">- Step 1:</h4>
        <p class="write">To start, import an image by clicking the "Choose image" button. This will open your file directory,
             where you can select the desired photo. When you choose your import photo, the "Choose image button" will change to "Selected: your file". 
        </p>
    </div>
    <img src="/static/introduction1.png" class="for_img">
    <br> 
    <img src="/static/introduction2.png" class="for_img">
    <br> 
    <img src="/static/introduction3.png" class="for_img">
    <div class="preview">
        <br>
        <h4 class="head">- Step 2:</h4>
        <p class="write">Choose an effect from the list and click "Transform." Your image will be transformed with the selected effect.
             If you don't choose an effect and click "Transform," your original image will be displayed.
        </p>
    </div>
    <div>
        <img src="/static/introduction4.png" class="for_img">
        <br>
        <img src="/static/introduction5.png" class="for_img">
        <br>
        <img src="/static/introduction6.png" class="for_img">
    </div>
    <div class="preview">
        <br>
        <h4 class="head">- Step 3:</h4>
        <p class="write">Enter a file name for the transformed image. If you leave it blank, it will be saved as "transformed_image.png".
             Click "Save Transformed Image" to proceed.
        </p>
    </div>
    <div>
        <img src="/static/introduction7.png" class="for_img">
        <br>
        <img src="/static/introduction8.png" class="for_img">
    </div>
    <div class="preview">
        <br>
        <h4 class="head">*Note:</h4>
        <p class="write">To select a different effect, click "Main Page" to return to the initial menu.
        </p>
    </div>
    <div>
        <img src="/static/introduction9.png" class="for_img">
    </div>
    <br>
    <div class="preview">
        <h2 class="head">Let's see all effects!</h2>
    </div>
    <div class="preview">
        <h3 class="head">
            Original image:
        </h3>
    </div>
    <div>
        <img src="/static/original.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Reflection image:
        </h3>
    </div>
    <div>
        <img src="/static/reflection.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Grayscale image:
        </h3>
    </div>
    <div>
        <img src="/static/grayscale.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Sepia image:
        </h3>
    </div>
    <div>
        <img src="/static/sepia.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Deep pencil sketch image:
        </h3>
    </div>
    <div>
        <img src="/static/deep_pencil_sketch.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Paler pencil sketch image:
        </h3>
    </div>
    <div>
        <img src="/static/paler_pencil_sketch.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Paler blur image:
        </h3>
    </div>
    <div>
        <img src="/static/paler_blur.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Deep blur image:
        </h3>
    </div>
    <div>
        <img src="/static/deep_blur.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Fresh image:
        </h3>
    </div>
    <div>
        <img src="/static/fresh.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Original image:
        </h3>
    </div>
    <div>
        <img src="/static/original2.jpeg" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Delete background image:
        </h3>
    </div>
    <div>
        <img src="/static/delete_background.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Vintage image:
        </h3>
    </div>
    <div>
        <img src="/static/vintage.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Original image:
        </h3>
    </div>
    <div>
        <img src="/static/original3.jpg" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Negative image:
        </h3>
    </div>
    <div>
        <img src="/static/negative.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Edges image:
        </h3>
    </div>
    <div>
        <img src="/static/edges.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h3 class="head">
            Bland image:
        </h3>
    </div>
    <div>
        <img src="/static/bland.png" class="for_effect">
    </div>
    <br>
    <br>
    <div class="preview">
        <h4 class="head">That's all for the preview, hope you enjoyed it! Now, let's jump in:</h4>
        <form action="/" method="get" align="center"><button class="btn btn-info">Main page</button></form>
    </div>
{% endblock%}